<h1><a href="users/<%=@user.slug%>"><%= @user.username %>'s</a> Firearms</h1>

<br>

<ul>
  <% @firearms.each do |firearm| %>
  <li><a href="firearms/<%=firearm.id%>"><%= "#{firearm.make} #{firearm.model}"%></a></li>
  <% end %>
</ul>