<h1>This will show all of a user's firearms.</h1>

<p>Also needs to have a "view profile" button for users, as well as an "add firearm" button</p>

View profile routes to '/user/:slug'
Add firearm routes to 'firearm/new'

<h1></h1>